body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: blue;
    color: white;
}